<div id="register" ng-controller="RegisterController" class="well container center-block shadow">
	<img src="assets/images/logo.png" class="pull-left" />
	<h1 class="text-left pull-left">Baymax</h1>
	<h2 class="text-left pull-left">Personal Healthcare Assistant</h2>
	<form ng-submit="register(credentials)" class="form-horizontal center-block" role="form">
		<div class="col-sm-12" ng-class="{'has-error': formErrors.firstName}">
			<input id="firstName" ng-model="credentials.firstName" type="type" class="form-control" placeholder="First Name">
		</div>
		<div class="col-sm-12" ng-class="{'has-error': formErrors.lastName}">
			<input id="lastName" ng-model="credentials.lastName" type="type" class="form-control" placeholder="Last Name">
		</div>
		<div class="col-sm-12" ng-class="{'has-error': formErrors.username}">
			<input id="username" ng-model="credentials.username" type="type" class="form-control" placeholder="Username">
		</div>
		<div class="col-sm-12" ng-class="{'has-error': formErrors.emailAddress}">
			<input id="emailAddress" ng-model="credentials.emailAddress" type="type" class="form-control" placeholder="Email Address">
		</div>
		<div class="col-sm-12" ng-class="{'has-error': formErrors.password}">
			<input id="password" ng-model="credentials.password" type="password" class="form-control" placeholder="Password" ng-minlength="8">
		</div>
		<div class="col-sm-12" ng-class="{'has-error': formErrors.confirmPassword}">
			<input id="confirmPassword" ng-model="credentials.confirmPassword" type="password" class="form-control" placeholder="Confirm Password" ng-minlength="8">
		</div>
		<div ng-if="true">
			<p class="text-danger col-sm-12">{{errorMessage()}}</p>
		</div>
		<div class="col-sm-12 buttons">
			<div class="col-sm-6 no-padding">
				<input type="reset" class="btn btn-default col-sm-12 no-padding" />
			</div>
			<div class="col-sm-6 no-padding">
				<input type="submit" class="btn btn-primary col-sm-12 no-padding" value="Register" />
			</div>
		</div>
	</form>
</div>
<div class="text-center">
	<a href="#/login">Sign In</a>
	•
	<a href="#/faq">Frequently Asked Questions</a>
</div>
