<div ng-controller="RegisterCtrl" class="well container center-block login-page shadow">
	<h1><img src="assets/images/logo.png" alt="Logo" class="logo">Todo App</h1>
	<form ng-submit="addUser()" class="form-horizontal center-block" role="form">
		<div class="form-group login-form" ng-class="{'has-error': needUserNameError || duplicateUserError}">
			<label for="username" class="col-sm-3 control-label">User Name:</label>
			<div class="col-sm-9">
				<input ng-model="name" type="type" class="form-control" placeholder="Username">
			</div>
		</div>
		<div class="form-group login-form" ng-class="{'has-error': needPasswordError || confirmPasswordError}">
			<label for="inputPassword3" class="col-sm-3 control-label">Password:</label>
			<div class="col-sm-9">
				<input ng-model="password" type="password" class="form-control" placeholder="Password">
			</div>
		</div>
		<div class="form-group login-form" ng-class="{'has-error': needConfirmPasswordError || confirmPasswordError}">
			<label for="inputPassword3" class="col-sm-3 control-label">Confirm Password:</label>
			<div class="col-sm-9">
				<input ng-model="confirmPassword" ng-blur="checkPasswords()" type="password" class="form-control" placeholder="Confirm Password">
			</div>
		</div>
		<div ng-show="confirmPasswordError">
			<p class="text-danger col-sm-offset-3 col-sm-9">Passwords do not match.</p>
		</div>
		<div ng-show="needUserNameError">
			<p class="text-danger col-sm-offset-3 col-sm-9">Username should not be left blank.</p>
		</div>
		<div ng-show="needPasswordError">
			<p class="text-danger col-sm-offset-3 col-sm-9">Password should not be left blank.</p>
		</div>
		<div ng-show="needConfirmPasswordError">
			<p class="text-danger col-sm-offset-3 col-sm-9">Confirmed password should not be left blank.</p>
		</div>
		<div ng-show="duplicateUserError">
			<p class="text-danger col-sm-offset-3 col-sm-9">Username already taken.</p>
		</div>
		<div class="form-group login-form-button">
			<div class="col-sm-6">
				<a href="#/login" class="btn btn-default col-sm-12">Cancel</a>
			</div>
			<div class="col-sm-6">
				<button type="submit" class="btn btn-primary col-sm-12">Add User</button>
			</div>
		</div>
	</form>
</div>