#tab {
    .patient-sidebar {
        padding: 20px;
        border-right: 1px solid #DDD;
        .header, .sub-header {
            font-weight: bold;
            color: #428BCA;
        }
        .header {
            font-size: 14px;
        }
        .sub-header {
            margin-top: 8px;
        }
    }
    .sub-tabs {
        .nav-tabs {
            background: #FFF;
            &> li {
                margin: 0;
            }
        }
        a {
            border: 0;
            font-size: 13px;
            cursor: pointer;
            font-color: #428BCA;
            &:hover {
                background: #FFF;
                font-weight: bold;
            }
        }
        .active a {
            font-weight: bold;
            cursor: normal;
        }
    }
}
