<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Medical Guru</title>

    <!-- Compiled CSS -->
    <% cssFiles.forEach(function(file) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
        <% }); %>

            <!-- Compiled CSS -->
            <% jsFiles.forEach(function(file) { %>
                <script rel="text/javascript" src="<%= file %>"></script>
                <% }); %>

                    <script>
                    angular.element(document).ready(function() {
                        angular.bootstrap(document, ['medical-guru']);
                    });
                    </script>

</head>

<body ng-controller="AppCtrl">
    <div ng-view></div>
</body>

</html>
