<div id="faq" class="height100" ng-controller="FaqController">
	<div id="header" ng-if="isLoggedIn()" ng-include src="'main/header/main.tpl.html'"></div>
	<div id="header" ng-if="!isLoggedIn()" ng-include src="'main/header/not-logged-in-header.tpl.html'"></div>

	<div class="holder">
		<div class="faq shadow container height100">
			<div class="">
				<div class="row">
					<div class="col-sm-9">
						<h1>Frequently Asked Questions</h1>
						<span class="text-muted">Below are common questions about managing your Baymax account.</span>
						<div class="text-muted">
							<div style="display: inline-block">Jump to:</div>
							<div style="display: inline-block">
								<a class="jump-to" ng-click="scrollTo(faq.category)" ng-repeat="faq in faqs">{{faq.category}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<div ng-repeat="faq in faqs">
							<h2 id="{{faq.category}}">{{faq.category}}</h2>
							<accordion>
								<accordion-group ng-repeat="question in faq.questions">
									<accordion-heading>
										<div ng-class="{'open': $parent.isOpen, 'closed': !$parent.isOpen}">
											{{question.title}}
										</div>
									</accordion-heading>
									<div ng-class="{'test':isOpen, 'test2':!isOpen}">
										{{question.content}}
									</div>
								</accordion-group>
							</accordion>
						</div>
						<div class="panel">
							<hr/>
							<h2>Test Accounts</h2>
							<table class="table">
								<tr>
									<th>Username</th>
									<th>Role</th>
									<th>Password</th>
								</tr>
								<tr>
									<td>admin</td>
									<td>admin</td>
									<td>password</td>
								</tr>
								<tr>
									<td>doctor</td>
									<td>doctor</td>
									<td>password</td>
								</tr>
								<tr>
									<td>marladixon</td>
									<td>patient</td>
									<td>password</td>
								</tr>
								<tr>
									<td>marysmith</td>
									<td>patient</td>
									<td>password</td>
								</tr>
								<tr>
									<td>dougfunny</td>
									<td>patient</td>
									<td>password</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
