#login {
    width: 400px;
    input {
        font-size: 1em;
        font-family: Arial, sans-serif;
        border-radius: 0;
        height: 44px;
    }
    input.btn {
        margin-top: 0.8em;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    &.shadow {
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
        margin-top: 0.35em;
    }
    h2 {
        font-size: 1.25em;
        margin: 0;
        padding-bottom: 1em;
    }
    img {
        height: 50px;
        width: 50px;
        margin-right: 0.4em;
        margin-left: 15px;
    }
}
